.car-container {
  min-height: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 9rem;
}

.cart-container {
  background-color: #06053dcb;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  top: 95px;
  right: auto;
  left: auto;
  z-index: 110;
  /* padding: 20px; */
  transform: translateX(473px);
  transition: all 0.3s ease-in-out;
}
.cart-dropdown {
  transform: translateX(722px);
  /* height: 300px; */
}
.cart-content {
  overflow-y: auto;
}
.cart-items {
  margin-top: 20px;
  width: 300px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.cart-item {
  width: 380px;
  height: 140px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 14px;
  color: #333333;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.cart-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.cart-item button {
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.cart-item img {
  width: 45%;
}
.delete-all-btn {
  padding: 1rem 4rem;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 17px;
  color: #888888;
  font-size: 16px;
  color: #ffffff;
  background-color: #741906;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 14px;
}

.delete-all button {
  font-size: 25px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.counter-btn{
  background-color: #741906;
  color: #fff;
}
.delete-btn {
  color: #12273d;
  background-color: #06053d00;
}
.car-details {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.cart-dropdown h1 {
  color: #fffdfc;
}
.car-details h3 {
  color: #741906;
}
.info p {
  color: #741906;
  font-size: 0.9rem;
}
.info svg {
  color: #12273d;
}
.car-card-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: end;
}

.counterTop {
  font-size: 18px;
  background-color: #c52303;
  border-radius: 4px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  position: absolute;
  top: -11px;
  right: -18px;
}
